<%= stylesheet_link_tag 'custom' %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a alt="Namma Yatri" href="https://nammayatri.in/"><%= image_tag('nammaYatrilogo.png', :size => "126x40")%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="homeNavbar">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="https://nammayatri.in/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" href="https://nammayatri.in/about/">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://nammayatri.in/open/">Open Data</a>
        </li>
        <li class="nav-item" id="joinchall">
          <a href="https://nammayatri.in/challenge/" type="button" class="btn btn-warning btn-lg" style="width:200px">Join the challenge</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
 <div class="row">
  <div class="col-sm w-100">
    <h1 class="text-white font-weight-bold " id="booking">
      Book an auto with 
      <span class="text-warning">
        Zero </br>commission
      </span>
    </h1>
    <h4 id="appfor">
      App by the drivers for the people.
      <br>
      100% direct payment to drivers.
    </h4>
    </br>
    <a  href="https://play.google.com/store/apps/details?id=in.juspay.nammayatri" type="button" class="btn btn-outline-warning btn-lg" style="width:250px;margin-left: 80px;">Download the app</a>
    </br>
    <a  href="#" type="button" class="btn btn-outline-light btn-lg p-4" style="width:250px;margin-left: 80px;margin-top: 60px;font-size:35px">Book A Cab</a>
    </div>
    <div class="col-sm"><%= image_tag('autoDriverWeb.png', :alt=>"",:class=>"float-end",:id=>"autoPic")%></div>
  </div>
</div>
